<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Jsach</title>
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Favicons -->
    <meta name="theme-color" content="#7952b3">

    <style>
        a {
            color: black;
        }
    </style>
</head>

<body>
<main>
    {{#each message}}
        <div class="container px-4 py-5" id="featured-3">
            <h2 class="pb-2 border-bottom">{{@key}}</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                {{#each this}}
                    <div class="feature col">
                        <h3><a href="/{{ id }}">{{ name }}</a> </h3>
                        <p>
                            Страниц: {{ pages }}
                        </p>
                        <a href="/{{ id }}" class="icon-link">
                            Перейти
                            <svg class="bi" width="1em" height="1em">
                                <use xlink:href="#chevron-right"/>
                            </svg>
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/each}}
</main>
</body>

</html>
