{{> header this}}
<main>
    <div class="container">
        <div class="thread-item">
            <div class="card">
                <div class="card-body">
                    <p>{{ thread.BoardName }} <a href="/{{ thread.Board }}">/{{ thread.Board }}</a></p>
                </div>
            </div>
        </div>
        <div class="thread-body">
            <h1 class="thread-subject">{{ first.subject }}</h1>
            <div class="thread-item" id="{{ first.num }}">
                <div class="card">
                    <div class="card-header">
                        <h3>{{ first.name }}</h3>
                    </div>
                    <div class="card-body">
                        <p>{{{ first.comment }}}</p>
                        {{#if first.files }}
                            <p>
                                {{#each first.files}}
                                    <a href="https://2ch.hk{{ path }}"><img src="https://2ch.hk{{ thumbnail }}"
                                                                            alt="{{ displayname }}"></a>
                                {{/each}}
                            </p>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{#each posts}}
                <div class="feature col thread-reply" id="{{ num }}">
                    <div class="thread-item">
                        <div class="card">
                            <div class="card-header">
                                <h5>{{{ name }}}</h5>
                            </div>
                            <div class="card-body">
                                <p>{{{ comment }}}</p>
                                {{#if files }}
                                    <p>
                                        {{#each files}}
                                            <a href="https://2ch.hk{{ path }}"><img src="https://2ch.hk{{ thumbnail }}"
                                                                                    alt="{{ displayname }}"></a>
                                        {{/each}}
                                    </p>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

    </div>
</main>

<!-- Pagination -->
<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {{#each pagination.first}}
                <li class="page-item"><a class="page-link" href="?page={{ this }}"> {{ this }}</a></li>
            {{/each}}
            <li class="page-item"> {{ pagination.page }} </li>
            {{#each pagination.last}}
                <li class="page-item"><a class="page-link" href="?page={{ this }}"> {{ this }}</a></li>
            {{/each}}
        </ul>
    </nav>
</div>
<!-- /Pagination -->

{{> footer }}
