{{> header this}}
<!-- Main -->
<main>
    <div class="container">
        <div class="thread-item">
            <div class="card">
                <div class="card-body">
                    <p>{{ list.BoardName }} /{{ list.Board }}</p>
                    <p>{{ list.BoardInfo }}</p>
                </div>
            </div>
        </div>
        <div class="thread-body">
            <div class="row row-cols-1 row-cols-lg-3">
                {{#each list.threads}}
                    <div class="thread-item">
                        <div class="card">
                            <div class="card-header">
                                <h5><a href="/{{ ../list.Board }}/{{ thread_num }}">{{{ posts.[0].subject }}}</a></h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Ответов: {{ posts_count }}</li>
                            </ul>
                            <div class="card-body">
                                <p class="card-text">{{{ posts.[0].comment }}}</p>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>

</main>
<!-- /Main -->

<!-- Pagination -->
<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {{#each paginationStart}}
                <li class="page-item"><a class="page-link" href="/{{ ../list.Board }}?page={{ this }}"> {{ this }}</a>
                </li>
            {{/each}}
            ...
            {{#each paginationEnd}}
                <li class="page-item"><a class="page-link" href="/{{ ../list.Board }}?page={{ this }}"> {{ this }}</a>
                </li>
            {{/each}}
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<!-- /Pagination -->
{{> footer}}