<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Jsach</title>
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Favicons -->

    <meta name="theme-color" content="#7952b3">

    <style>
        a {
            color: black;
        }
    </style>
</head>

<body>
<main>
    <div class="container px-4 py-5" id="featured-3">
        <div class="feature col" id="{{ first.num }}">
            <h2>{{ first.name }}</h2>
            <p>
                {{{ first.comment }}}
            </p>
            {{#if files }}
                <p>
                    {{#each files}}
                        <a href="https://2ch.hk{{ path }}"><img src="https://2ch.hk{{ thumbnail }}" alt="{{ displayname }}"></a>
                    {{/each}}
                </p>
            {{/if}}
        </div>
        {{#each posts}}
            <div class="feature col" id="{{ num }}">
                <h3>{{ name }}</h3>
                <p>
                    {{{ comment }}}
                </p>
                {{#if files }}
                    <p>
                    {{#each files}}
                        <a href="https://2ch.hk{{ path }}"><img src="https://2ch.hk{{ thumbnail }}" alt="{{ displayname }}"></a>
                    {{/each}}
                    </p>
                {{/if}}
            </div>
        {{/each}}
    </div>
</main>
</body>

</html>
