<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ first.subject }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Style -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Favicons -->
    <meta name="theme-color" content="#7952b3">
</head>

<body>
<!-- Nav -->
<div class="nav-container bg-dark">
    <div class="container">
        <nav class="navbar navbar-expand-lg border border-light text-white rounded">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <h3 class="m-0">JSACH</h3>
                </a>
            </div>
        </nav>
    </div>
</div>
<!-- /Nav -->

<main>
    <div class="container">
        <div class="thread-body">
            <h1 class="thread-subject">{{ first.subject }}</h1>
            <div class="thread-item" id="{{ first.num }}">
                <div class="card">
                    <div class="card-header">
                        <h3>{{ first.name }}</h3>
                    </div>
                    <div class="card-body">
                        <p>{{{ first.comment }}}</p>
                        {{#if first.files }}
                            <p>
                                {{#each first.files}}
                                    <a href="https://2ch.hk{{ path }}"><img src="https://2ch.hk{{ thumbnail }}" alt="{{ displayname }}"></a>
                                {{/each}}
                            </p>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{#each posts}}
                <div class="feature col thread-reply" id="{{ num }}">
                    <div class="thread-item">
                        <div class="card">
                            <div class="card-header">
                                <h5>{{{ name }}}</h5>
                            </div>
                            <div class="card-body">
                                <p>{{{ comment }}}</p>
                                {{#if files }}
                                    <p>
                                        {{#each files}}
                                            <a href="https://2ch.hk{{ path }}"><img src="https://2ch.hk{{ thumbnail }}" alt="{{ displayname }}"></a>
                                        {{/each}}
                                    </p>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

    </div>
</main>

<!-- Pagination -->
<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {{#each pagination.first}}
                <li class="page-item"><a class="page-link" href="?page={{ this }}"> {{ this }}</a></li>
            {{/each}}
            <li class="page-item"> {{ pagination.page }} </li>
            {{#each pagination.last}}
                <li class="page-item"><a class="page-link" href="?page={{ this }}"> {{ this }}</a></li>
            {{/each}}
        </ul>
    </nav>
</div>
<!-- /Pagination -->

<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: CTA -->
        <section class="">
            <p class="d-flex justify-content-center align-items-center">
                <span class="me-3">ДИСКЛЕЙМЕР: Этот сайт, является лишь представлением (клиентом) к большой базе 2ch. На этом сервере не хранятся ни данные, ни файлы, ни чего либо подобного.</span>
            </p>
        </section>
        <!-- Section: CTA -->
    </div>
    <!-- Grid container -->
</footer>
<!-- /Footer -->

</body>

</html>
