<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Jsach</title>
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">

    <!-- Favicons -->
    <meta name="theme-color" content="#7952b3">

    <style>
        /* general*/
        a {
            color: black;
        }

        /* index */



        /* thread-list */
        .thread-list .card {
            margin-bottom: 15px;
        }
        .thread-list .card .card-text {
            height: 215px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .thread-list .card .card-header{
            max-height: 75px;
            min-height: 75px;
            display: flex;
            align-items: center;
            overflow: hidden;
        }
        nav {
            margin: 30px 0 30px;
        }
    </style>

</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border border-dark rounded">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <h3 class="m-0">JSACH</h3>
                </a>
            </div>
        </nav>
    </div>


    <main>
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-3">
                {{#each list.threads}}
                    <div class="container thread-list">
                        <div class="card">
                            <div class="card-header">
                                <h5><a href="/{{ ../list.board }}/{{ num }}">{{ subject }}</a></h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Просмотров: {{ views }}</li>
                            </ul>
                            <div class="card-body">
                                <p class="card-text">{{{ comment }}}</p>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </main>
</body>

</html>
